@charset "utf-8";
/* CSS Document */

html, body {
	background-color:#FFF;
	height: 100%;
	}
#wrapper{
	width: 100%;
	height: 100%;
	background-color:#FFFFFF;
	position: relative;
	margin:auto;
}
#header{
	width: 100%;	
	height: 20%;
	background-color:#B4DEDB;
	position: relative;
	background-image: url(../image/bk02.gif)
	
}
#sidebar1{
	width: 100%;
	height: 60%;
	background-color:#EE8081;
	position: relative;
	background-image: url(../image/bk01.gif)
	
}
#content{
	width: 100%;
	height: 100%;
	background-color:#E99A4D;
	position: relative;
    overflow-x:hidden;
    overflow-y:auto;
	background-image: url(../image/bk01.gif)
}
#footer{
	width: 100%;
	height: 10%;
	background-color:#516BB2;
	position: relative;
	background-image: url(../image/bk02.gif)
}